<launch>
  <arg name="bridge_name" />
  <arg name="config_file" />
  <arg name="container_name" default="ros_gz_container" />
  <arg name="create_own_container" default="False" />
  <arg name="namespace" default="" />
  <arg name="use_composition" default="False" />
  <arg name="use_respawn" default="False" />
  <arg name="log_level" default="info" />
  <arg name="bridge_params" default="" />
  <ros_gz_bridge
    bridge_name="$(var bridge_name)"
    config_file="$(var config_file)"
    container_name="$(var container_name)"
    create_own_container="$(var create_own_container)"
    namespace="$(var namespace)"
    use_composition="$(var use_composition)"
    use_respawn="$(var use_respawn)"
    log_level="$(var log_level)"
    bridge_params="$(var bridge_params)">
  </ros_gz_bridge>
</launch>
