<?xml version="1.0"?>
<model>
  <name>vehicle</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Dharini Dutia</name>
    <email>dharini@openrobotics.org</email>
  </author>

  <description>
  Parser plugin `sdformat_urdf` compatible differential drive vehicle model. Used to read
  models described in SDFormat and outputs URDF C++ DOM structures.
  </description>
</model>
