<?xml version="1.0"?>
<launch>

  <node
    pkg="ros1_ign_gazebo_demos"
    type="ign_gazebo"
    name="gazebo"
    output="screen"
    args="-r -v 3 sensors.sdf">
  </node>

  <node
    pkg="ros1_ign_bridge"
    type="parameter_bridge"
    name="$(anon ros1_ign_bridge)"
    output="screen"
    args="/imu@sensor_msgs/Imu@ignition.msgs.IMU">
  </node>

  <node
    type="rviz"
    name="rviz"
    pkg="rviz"
    args="-d $(find ros1_ign_gazebo_demos)/rviz/imu.rviz" />
</launch>
