<?xml version="1.0"?>
<launch>

  <env name="IGN_GAZEBO_SYSTEM_PLUGIN_PATH" value="$(optenv LD_LIBRARY_PATH)" />

  <include file="$(find ros1_ign_gazebo_demos)/launch/ign_gazebo.launch">
    <arg name="args" value="-r -v 3 $(find ros1_ign_point_cloud)/examples/ros1_ign_point_cloud.sdf"/>
  </include>

  <node
    pkg="ros1_ign_bridge"
    type="parameter_bridge"
    name="$(anon ros1_ign_bridge)"
    output="screen"
    args="/rgbd_camera/image@sensor_msgs/Image@ignition.msgs.Image /rgbd_camera/depth_image@sensor_msgs/Image@ignition.msgs.Image">
  </node>

  <node
    type="rviz"
    name="rviz"
    pkg="rviz"
    args="-d $(find ros1_ign_gazebo_demos)/rviz/rgbd_camera.rviz" />
</launch>
