<?xml version="1.0"?>
<launch>
  <arg name="ign_args" default=""/>

  <env name="IGN_GAZEBO_SYSTEM_PLUGIN_PATH" value="$(optenv LD_LIBRARY_PATH)" />

  <node
    pkg="ros_ign_gazebo"
    type="ign_gazebo"
    name="ign_gazebo"
    output="screen"
    required="true"
    args="$(arg ign_args)">
  </node>
</launch>
