<?xml version="1.0" encoding="UTF-8" ?>
<!--
Copyright 2025 Open Source Robotics Foundation, Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<launch>
    <ros_gz_bridge bridge_name="test_bridge">
        <topic ros_topic_name="/boolean_std_msgs_bool" gz_topic_name="/boolean_std_msgs_bool"
               ros_type_name="std_msgs/msg/Bool" gz_type_name="gz.msgs.Boolean"
               lazy="False" direction="GZ_TO_ROS" qos_profile="SYSTEM_DEFAULT" />
        <topic ros_topic_name="/imu_sensor_msgs_imu" gz_topic_name="/imu_sensor_msgs_imu"
               ros_type_name="sensor_msgs/msg/Imu" gz_type_name="gz.msgs.IMU"
               lazy="False" direction="GZ_TO_ROS" publisher_queue_size="1" subscriber_queue_size="1" />
        <service service_name="/gz_ros/test/serviceclient/world_control"
                 ros_type_name="ros_gz_interfaces/srv/ControlWorld"
                 gz_req_type_name="gz.msgs.WorldControl" gz_rep_type_name="gz.msgs.Boolean" />
    </ros_gz_bridge>
</launch>
