<?xml version="1.0"?>
<launch>
  <!-- Launch the bridge -->
  <node name="image_bridge_ros_subscriber" pkg="ros_ign_image"
        type="image_bridge"
        args="/image"
  />

  <!-- Launch the Ignition Transport publisher -->
  <node name="ign_publisher" pkg="ros_ign_image" type="ign_publisher_image" />

</launch>
