<?xml version="1.0"?>
<launch>
  <!-- Launch the bridge -->
  <node name="parameter_bridge_string" pkg="ros1_ign_bridge"
        type="parameter_bridge"
        args="/chatter@std_msgs/String@ignition.msgs.StringMsg" />

  <!-- Launch the ROS 1 publisher -->
  <node name="ros1_string_publisher" pkg="ros1_ign_bridge"
        type="ros1_string_publisher" />

</launch>
