<?xml version="1.0"?>
<launch>

  <include file="$(find ros_ign_gazebo_demos)/launch/ign_gazebo.launch">
    <arg name="args" value="-r -v 3 linear_battery_demo.sdf"/>
  </include>

  <node
    pkg="ros_ign_bridge"
    type="parameter_bridge"
    name="$(anon ros_ign_bridge)"
    output="screen"
    args="/model/vehicle_blue/cmd_vel@geometry_msgs/Twist@ignition.msgs.Twist /model/vehicle_blue/battery/linear_battery/state@sensor_msgs/BatteryState@ignition.msgs.BatteryState">
  </node>

  <node
    type="rqt_plot"
    name="rqt_plot"
    pkg="rqt_plot"
    args="/model/vehicle_blue/battery/linear_battery/state/percentage" />
</launch>
