<?xml version="1.0"?>
<launch>

  <!--
    TODO(anyone) Re-enable demo once point cloud package is back.
    See https://github.com/osrf/ros_ign/issues/40

  <include file="$(find ros_ign_gazebo)/launch/ign_gazebo.launch">
    <arg name="ign_args" value="-r -v 3 $(find ros_ign_point_cloud)/examples/depth_camera.sdf"/>
  </include>

  <node
    pkg="ros_ign_bridge"
    type="parameter_bridge"
    name="$(anon ros_ign_bridge)"
    output="screen"
    args="/depth_camera@sensor_msgs/Image@ignition.msgs.Image">
  </node>

  <node
    pkg="rqt_image_view"
    type="rqt_image_view"
    name="rqt_image_view"
    args="/depth_camera">
  </node>

  <node
    type="rviz"
    name="rviz"
    pkg="rviz"
    args="-d $(find ros_ign_gazebo_demos)/rviz/depth_camera.rviz" />
  -->
</launch>
