<?xml version="1.0"?>
<launch>

  <include file="$(find ros_ign_gazebo)/launch/ign_gazebo.launch">
    <arg name="ign_args" value="-r -v 3 diff_drive.sdf"/>
  </include>

  <node
    pkg="ros_ign_bridge"
    type="parameter_bridge"
    name="$(anon ros_ign_bridge)"
    output="screen"
    args="/model/vehicle_blue/cmd_vel@geometry_msgs/Twist@ignition.msgs.Twist /model/vehicle_blue/odometry@nav_msgs/Odometry@ignition.msgs.Odometry /model/vehicle_green/cmd_vel@geometry_msgs/Twist@ignition.msgs.Twist /model/vehicle_green/odometry@nav_msgs/Odometry@ignition.msgs.Odometry">
  </node>

  <node
    type="rviz"
    name="rviz"
    pkg="rviz"
    args="-d $(find ros_ign_gazebo_demos)/rviz/diff_drive.rviz" />
</launch>
