<?xml version="1.0"?>
<launch>

  <!--
    TODO(anyone) Re-enable demo once point cloud package is back.
    See https://github.com/osrf/ros_ign/issues/40

  <include file="$(find ros_ign_gazebo)/launch/ign_gazebo.launch">
    <arg name="ign_args" value="-r -v 3 $(find ros_ign_point_cloud)/examples/gpu_lidar.sdf"/>
  </include>

  <node
    pkg="ros_ign_bridge"
    type="parameter_bridge"
    name="$(anon ros_ign_bridge)"
    output="screen"
    args="/lidar@sensor_msgs/LaserScan@ignition.msgs.LaserScan">
  </node>

  <node
    type="rviz"
    name="rviz"
    pkg="rviz"
    args="-d $(find ros_ign_gazebo_demos)/rviz/gpu_lidar.rviz" />
  -->
</launch>
