<?xml version="1.0"?>
<launch>

  <include file="$(find ros_ign_gazebo_demos)/launch/ign_gazebo.launch">
    <arg name="args" value="-r -v 3 sensors_demo.sdf"/>
  </include>

  <node
    pkg="ros_ign_image"
    type="image_bridge"
    name="$(anon ros_ign_image)"
    output="screen"
    args="camera depth_camera rgbd_camera/image rgbd_camera/depth_image">
  </node>

  <node
    pkg="rqt_image_view"
    type="rqt_image_view"
    name="rqt_image_view"
    args="/camera">
  </node>
</launch>
