<?xml version="1.0"?>
<launch>

  <include file="$(find ros_ign_gazebo_demos)/launch/ign_gazebo.launch">
    <arg name="args" value="-r -v 3 sensors.sdf"/>
  </include>

  <node
    pkg="ros_ign_bridge"
    type="parameter_bridge"
    name="$(anon ros_ign_bridge)"
    output="screen"
    args="/imu@sensor_msgs/Imu@ignition.msgs.IMU">
  </node>

  <node
    type="rviz"
    name="rviz"
    pkg="rviz"
    args="-d $(find ros_ign_gazebo_demos)/rviz/imu.rviz" />
</launch>
