<?xml version="1.0"?>
<launch>

  <include file="$(find ros_ign_gazebo)/launch/ign_gazebo.launch">
    <arg name="ign_args" value="-r -v 3 sensors.sdf"/>
  </include>

  <node
    pkg="ros_ign_bridge"
    type="parameter_bridge"
    name="$(anon ros_ign_bridge)"
    output="screen"
    args="/magnetometer@sensor_msgs/MagneticField@ignition.msgs.Magnetometer">
  </node>

  <node
    type="rqt_topic"
    name="rqt_topic"
    pkg="rqt_topic"
    args="-t" />
</launch>
