<?xml version="1.0"?>
<launch>

  <include file="$(find ros_ign_gazebo_demos)/launch/ign_gazebo.launch">
    <arg name="args" value="-r -v 3 $(find ros_ign_point_cloud)/examples/rgbd_camera.sdf"/>
  </include>

  <node
    pkg="ros_ign_bridge"
    type="parameter_bridge"
    name="$(anon ros_ign_bridge)"
    output="screen"
    args="/rgbd_camera/image@sensor_msgs/Image@ignition.msgs.Image /rgbd_camera/depth_image@sensor_msgs/Image@ignition.msgs.Image">
  </node>

  <node
    type="rviz"
    name="rviz"
    pkg="rviz"
    args="-d $(find ros_ign_gazebo_demos)/rviz/rgbd_camera.rviz" />
</launch>
